header h1 {
  background: linear-gradient(to right, #f9f, #09f, #ff9);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1:hover {
  background: linear-gradient(to top right, #f9f, #09f, #ff9);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#botoes .btn {
  background-color: transparent;
  color: #09f;
  border: 3px solid #f9f;
  position: relative;
  overflow: hidden;
}

#botoes .transition {
  box-shadow: 2px 4px 0px #09f;
}

#botoes .transition::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 0%;
  height: 400%;
  top: 50%;
  left: -20px;
  transform: translateY(-50%) rotate( 30deg );
  transition: width .4s ease;
}

#botoes .transition:hover::before {
  width: 120%;
}


#botoes .transition:hover::before {
  width: 120%;
}


#botoes .move {
  top: 0;
  left: 0;
  box-shadow: 0px 0px 0px #09f;
  transition: box-shadow .8s ease, top .4s ease, left .4s ease;
}

#botoes .move::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 0%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width .4s ease;
}

#botoes .move:hover {
  top: -2px;
  left: -2px;
  box-shadow: 2px 4px 0px #09f;
}

#botoes .move:hover::before {
  width: 110%;
}

#botoes .form {
  transition:  border .4s ease, 
    width .4s ease, 
    padding .4s ease, 
    border-bottom-right-radius .4s ease;
}

#botoes .form:hover {
  width: 50%;
  padding: 20px 0;
  border-bottom-right-radius: 0;
  border-right: 10px solid #f9f;
}

#cards .transition figure {
  background-position: center top 90px;
  transition: 
    height .4s cubic-bezier(.17,.67,.83,.67),
    background-position .4s cubic-bezier(.17,.67,.83,.67);
}

#cards .transition:hover figure {
  height: 120px;
  background-position: center top -20px;
}

#cards .shadow {
  overflow: unset;
  top: 0px;
  border: 0;
  /* box-shadow: 0px 6px 12px #999; */
  /* box-shadow: 0 0 0 #999; */
  transition: top .4s ease, box-shadow .4s ease;
}

#cards .shadow .border {
  border: 3px solid #000;
  border-radius: 20px;
  height: 100%;
  position: relative;
  z-index: 2;
}

#cards .shadow figure {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#cards .shadow:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 5px #f9f;
  border-radius: 20px;
  transition: box-shadow .4s ease;
}
#cards .shadow:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 5px 0 5px #09f;
  border-radius: 20px;
  transition: box-shadow .4s ease;
}

#cards .shadow:hover {
  top: -10px;
  box-shadow: 0px 6px 12px #999;
}

#cards .shadow:hover::before {
  box-shadow: 0 10px 10px #f9f;
}
#cards .shadow:hover::after {
  box-shadow: 10px 0 10px #09f;
}






.flip {
  perspective: 1000px;
}

.flip .flip-inner {
  overflow: visible;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  background-color: transparent;
  transition: transform .6s ease;
}

.flip .flip-inner:hover {
  transform: rotateY(180deg);
}

.flip .flip-front, 
.flip .flip-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff9;
  border-radius: 20px;
}

.flip img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flip .flip-back {
  background: linear-gradient(45deg, #f9f, #ff9);
  transform: rotateY(180deg);
}

/* Cursor */

#cursor .unicorn .btn {
  border: 3px solid #f9f;
  color: #09f;
  box-shadow: 0px 0px #09f;
  transition: box-shadow .4s ease;
  cursor: 
  url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='128' viewport='0 0 100 100' style='font-size:84px;'><text y='50%'>🦄</text></svg>") 16 0, auto;
}

#cursor .unicorn .btn:hover {
  box-shadow: 4px 4px #09f;
}


#cursor .image .btn {
  border: 3px solid #ff9;
  color: #f9f;
  box-shadow: 0px 0px #ff9;
  transition: box-shadow .4s ease;
  cursor: 
  url("https://tainasimoes.github.io/crocancias/assets/cat-cursor.png") 16 0, auto;
}

#cursor .image .btn:hover {
  box-shadow: 4px 4px #09f;
}


.mouse.hover {
  background-color: blue;
}

.mouse.down {
  background-color: red;
}

.toggle-icon {
  transition: left .4s ease !important;
  background-color: green x
}

.darkmode .toggle-icon {
  left: calc(100% - 45px)
}

.sun {
  background-color: orange !important;
}

.moon {
  background-color: purple !important;
}


#load .spin2 {
  border: 16px solid transparent;
  border-top: 16px solid #f9f;
  border-bottom: 16px solid #f9f;
  animation: spin 1s alternate infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}