@import url(css/variables.css);
@import url(css/reset.css);
@import url(css/hovers.css);

/* Estrutura ================================================== */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 5% 0;
  margin: 0 0 30px;
}

header h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: calc(12px + 20vw);
  font-weight: 800;
  margin: 0 0 40px;
  color: #09f;
  text-transform: uppercase;
}

header nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header nav a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: 0 2.4% 10px 0;
  color: #fff;
  padding: 4px 12px 5px;
  background-color: #f9f;
  border-radius: 5px;
  box-shadow: 2px 4px #09f;
  transition: box-shadow .4s ease;
}

section {
  padding: 30px 5%;
  margin: 0 0 30px;
}

section h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #09f;
}

section p {
  font-size: 16px;
  color: #999;
  margin: 0 0 40px;
}

section .canvas {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  min-height: 250px;
  background-color: var(--bg);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section article {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: var(--bg);
  padding: 30px 5%;
}

footer p {
  font-size: 14px;
  color: var(--secundary);
}

figure {
  width: 100%;
  height: 170px;
  background-color: #ff9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 50px;
  padding: 20px 40px;
  border: 3px solid var(--primary);
}

.btn  span {
  position: relative;
  z-index: 1;
}

.card {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #000;
  height: 350px;
  width: 250px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.container {
  padding: 20px;
  position: relative;
  border-top: 3px solid #000;
  transition: border .4s ease;
  background-color: #fff;
}

.container h3 {
  font-weight: 600;
  margin: 0 0 10px;
  color: #000;
}

.container p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 16px solid #fff;
  border-top: 16px solid #000;
}

.mouse {
  background-color: #000;
  cursor: pointer;
}

.icon {
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  background-color: #fff;
  transform: rotate(45deg);
  border-radius: 100%;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  position: absolute;
  top: -23px;
  left: 20px;
  transition: top .4s ease;
}

.shadow {
  top: 0;
  box-shadow: 0 0 0 #999;
  transition: top .4s ease, box-shadow .4s ease;
}

.toggle {
  background-color: #fff;
  border-radius: 50px;
  border: 3px solid #000;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.sun {
  width: 50%;
  height: 100%;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.moon {
  width: 50%;
  height: 100%;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.toggle-icon {
  position: absolute;
  background-color: #ff9;
  display: block;
  width: 40px;
  height: 40px;
  left: 5px;
  top: 5px;
  border-radius: 100%;
  transition: background-color .4s ease, left .4s ease;
}

